*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.hi{
    display: flex;
    width: 40%;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: lightblue;
    color: black;
    padding: 0px;
    margin-bottom: 0;

}
h1{
    display: flex;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    text-align: center;
    
   
}
h2{
    text-align: center;
}
