
.container2 {
    width: 100%;
    height: 100vh;
  
    background-image:  url(dsignup.png);
    background-image: linear-gradient(rgba(255, 209, 209, 0.244));
    background-position: center;
    background-size:cover ;
    position: relative;
}
